<h2 class="Header_2">hi.</h2>

<p>This website is a work in progress personal website for <a href="https://github.com/samcolson4">Sam Colson</a>.</p>

<p>The website's main purpose is to teach me the beginnings of using Rails, following online guides. I have previously experimented with Django, so have some concept of the Model-View-Controller hierachy, but want to see how this translates to a Ruby-driven deployment.</p>

<p>The website will eventually house my blog and act as a showcase for some of my software development work.</p>
<br>

<h2 class="Header_2">why 'Colson Design'?</h2>
<p>Because it was the cheapest .com web address I could buy with my name in it. Of course, if you need to buy valves from a respected UK manufacturer, please visit <a href="colson.co.uk">colson.co.uk</a> who, sadly, aren't affiliated with me in any way.</p>

<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
