<h2 class="Header_2">hi.</h2>

<p class="body_text">This website is a work in progress personal website for <a class="inline_link" href="https://github.com/samcolson4">Sam Colson</a>.</p>

<p class="body_text">The website's main purpose is to teach me the beginnings of using Rails, following online guides. I have previously experimented with Django, so have some concept of the Model-View-Controller hierachy, but want to see how this translates to a Ruby-driven deployment.</p>

<p class="body_text">The website will eventually house my blog and act as a showcase for some of my software development work.</p>
<br>

<h2 class="Header_2">why 'Colson Design'?</h2>
<p class="body_text">Because it was the cheapest .com web address I could buy with my name in it. </p>
<p class="body_text">Of course, if you need to buy valves from a respected UK manufacturer, please visit <a class="inline_link" href="http://www.colson.co.uk">colson.co.uk</a> who, sadly, aren't affiliated with me in any way.</p>
<br>

<h2 class="Header_2">GitHub</h2>
<p class="body_text">See my <a class="inline_link" href ="https://github.com/samcolson4/CV">GitHub page</a> for examples of my software <i>engineering</i> work.</p>
